*~
.*~
.DS_Store
./.emacs.d/.mc-lists.el
./.emacs.d/.scratch-log
./.emacs.d/.scratch-log-prev
./.emacs.d/ac-comphist.dat
./.emacs.d/auto-save-list/
./.emacs.d/autosave/
./.emacs.d/backup/
./.emacs.d/network-security.data
./.emacs.d/recentf
./.emacs.d/tramp
./.emacs.d/undohist/
